body{
    margin: 0%;
}

.topbar{
    height: 25px;
    padding-top: 0px;
    background-color: rgb(225, 202, 202);   
    
   
}
.chlogo{
    background-color: rgb(0, 0, 0);
    padding-left: 100px;
}

.nvbar{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    
}
li{
    float: left;
    padding-left: 100px;
    padding-top: 10px;

    
}
li a {
    display: block;
    color: #fffbfb;
    padding: 2px 6px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #a49e9ea0;
}
  
.active {
background-color: #728980;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    width: 80%;
    padding-left: 10px;
    font-size: 15px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.srcimg{
    height: 25px;
    top: 10px;
    position: relative;
    padding-left: -100px;
    transform: translate(855%, -143%);
}
.img1{
    width: 100%;
    height: 100%;
}
.header{
    padding-left: 600px;
    padding-top: 80px;
}
.cirpht{
    padding-top: 20px;
    padding-left: 10px;
}
.new_arrival{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 75%;
    margin: auto;
}
.new-arrival h1 {
    text-align: center;
    color: #888;
    font-size: 36px;
    font-weight: 600;
    font-family: jost, sans-serif;
    padding-left: 50px;
}
.new-arrival h1{
    text-align: center;
    color: #888;
    font-size: 36px;
    font-weight: 600;
    font-family: jost,sans-serif;
}
.main-stock{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 75%;
    margin: auto;
}
.new-arrival-details{
    position: relative;
}
.new-arrival-details i{
    position: absolute;
    right: 1%;
    background-color: #f0f0f0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 7px;
}
.new-arrival-details .button a{
        background-color: #f0f0f0 !important;
      color: #888888;
      text-shadow: none;
      border: 1px solid #888888;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px 25px;
      display: inline-block;
      line-height: 1;
      text-align: center;
      transition: all .3s;
      text-decoration: none;
    }
.row img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.new-arrival-details{
    padding-left: 20px;
    padding-top: 30px;
}
.new-arrival-details h6{
    padding: 0px 24px 5px 0px;
    font-size: 15px;
  font-weight: 400;
  color: #2e2e2e99;
  margin-top: 14px;
}
.new-arrival-details h5{
    padding-top: 25px;
}
.new-arrival-details .button{
    padding-top: 5px;
    padding-bottom: 35px;
}
footer{
    background-color: black;
    display: flex;
}
footer div{
    padding: 1.7% 0;
}
footer h6{
    color: white;
}

.rows img{
    width: 350px;
    height: 80px;
}
.rows p{
    color: white;
  font-size: 13px;
}
.foot{
    list-style-type: none;
    padding-left: 0;
    padding-top: 8%;
    color: white;
}
.foot li{
    padding: 4px;
}
.foot li:hover,.social li:hover{
    color: rgb(38, 251, 6);
}
